@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

/* Botón personalizado */
.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112, 44, 249;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

/* Estilos para el formulario oscuro */
/* .form-control-dark {
  border-color: rgb(212, 13, 13);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
} */

/* Tamaño del texto pequeño */
/* .text-small {
  font-size: 85%;
} */

/* Drop-down toggle */
.dropdown-toggle:not(:focus) {
  outline: 0;
}

/* Placeholder */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  user-select: none;
}



/* Iconos */
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/* Navegador */
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* Modo oscuro */
.bd-mode-toggle {
  z-index: 1500;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}

/* logo del header  */

.logo {
  font-size: 70px;
  color: white;
  background-color: #363636;
  border: 1px solid white;
  padding: 0 15px;
}

/* Imagen de perfil */
.imgPerfil {
  height: 200px;
  border-radius: 60%;

}

/* Títulos y textos */
.titleAboutMe {
  font-size: 40px;
  letter-spacing: 1px;
  padding: 30px;
  color: white;
  font-weight: bold;
}


/* acerca de mi  */
.aboutMe{
  font-size: 25px;
  letter-spacing: 1px;
  color: white;


}
/* contenedor hobbies  */

/* mis entretenimietos titulo de hobbies  */
.titleHobbies{
  font-size: 40px;
  letter-spacing: 1px;
  padding: 30px;
  color: orange;
  font-weight: bold;
}
.iconHobbies{
  margin: 20px;
  color: rgb(69, 214, 207);
}
.titleHobbie{
  color: white;
}
/* titulos formacion academica */
.titleFormacion {
  font-size: 40px;
  letter-spacing: 1px;
  padding: 30px;
  color: white;
}
/* titulos de los cursos  */
.titileCurso{
  color: orange;
  letter-spacing: 1px;
  font-size: 30px;
}
.iconoFormacion{
  color: orange;
  font-size: 40px;
  padding-right: 10px;
}
/* titulos de lugar donde curse  */
.institucion{
  color: rgb(223, 99, 41);
  font-weight: bold;
  font-style: italic;
}
.periodo{
  color: rgb(223, 99, 41);
  font-weight: bold;
  font-style: italic;

}
/* texto conocimientos de cursos  */
.details{
  color: rgb(209, 209, 209);
  font-weight: bold;
  font-style: italic;
}

.cursos {
  display: flex;
  flex-direction: column;
}
/* titulo habilidades  */
.titleHabilidades {
  font-size: 40px;
  letter-spacing: 1px;
  padding-bottom: 30px;
  color: orange;
  font-weight: bold;

}


/* titulo de tecnologias utilizadas  */
.textHabilidades{
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;

}
/* img de las herramientas utilziadas  */
.imgTools{
  width: 80px;
}
/* texto de herramientas  */
.textTools{
  color: rgb(243, 243, 243);
  font-size: 15px;
  font-weight: bold;
}

/* titulo de proyectos  */
.titleProject{
  font-size: 40px;
  letter-spacing: 1px;
  padding: 30px;
  color: orange;
  font-weight: bold;
}
/* subtitulo proyecto */
.subtitleProject{
  color: rgb(255, 255, 255);
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}

/* acordion de proyectos  */
.acordionProject {
  width: 800px;
}

/* cards projects */

.card {

  display: flex;
  flex-direction: column; /* Asegura que el contenido se apile verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: space-between; /* Espacia el contenido verticalmente */
  min-height: 300px; /* Altura mínima para que todas las tarjetas sean del mismo tamaño */
  max-height: 350px; /* Altura máxima para las tarjetas */
  width: 300px; /* Tamaño fijo para la tarjeta */
  height: 100%;
  margin: 5px;
  overflow: hidden; /* Oculta el contenido que se desborda */
  border-radius: 0.5rem; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para mejor apariencia */
}


.card-body {
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  text-align: center; /* Centra el texto dentro del contenedor */
}

/* titulo de contacto */
.titleContacto {
  font-size: 40px;
  letter-spacing: 1px;
  color: white;
}

/* estilos para los links etiquetas a */
#linknav {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  margin: 0 20px;
  font-size: 20px;
}

/* Footer */
.textFooter{
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  color: orange;

}
.derechosAuthor{
  color:#ffffff;
  font-weight: bold;
}
.icono {
  display: inline-block;
  position: relative;
  margin: 20px;
  font-size: 30px; /* Tamaño del icono */
  color: #fff; /* Color blanco por defecto */
  transition: transform 0.4s, color 0.3s; /* Transiciones para el tamaño y color */
}

.icono:hover {
  transform: scale(1.5); /* Agranda el icono al hacer hover */
  color: #3b62e2; /* Color de la línea al hacer hover */
}

/* Efecto de la línea en el enlace */
a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  transition: width 0.4s, background 0.4s; /* Transiciones para el ancho y color de la línea */
}

a:hover:after {
  width: 100%;
  background: #3b62e2; /* Color de la línea al hacer hover */
}


.backgroundPrimary {
  background-color: #212529;
  margin:0;
}
.backgroundDark  {
  background-color: rgba(0, 0, 0, 0.247);
}

/* Asegúrate de que el texto largo se ajuste bien */
.ListCardProyect{
  /* style={{ maxWidth: '300px', flex: '1 1 300px', margin:'0px 20px' }} */
  display: flex;
  background-color: cadetblue;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* cards de proyecto */
.imagenCard {
  width: 100px; /* Ajusta el ancho de la imagen según sea necesario */
  height: 100px; /* Ajusta la altura de la imagen para que sea consistente */
  display: flex; /* Usa Flexbox para centrar la imagen */
  align-items: center;
  justify-content: center;
}

.imagenCard img {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%; /* Asegura que la imagen llene el contenedor */
  height: 100%; /* Asegura que la imagen llene el contenedor */
  object-fit: cover; /* Ajusta la imagen para que se ajuste al contenedor sin distorsionarse */
}


/* Responsividad */
@media (max-width: 991.98px) {
  .navbar-nav.d-md-flex {
    flex-direction: column;
    align-items: flex-start; /* Opcional: alinea los elementos a la izquierda */
  }
}

@media (max-width: 768px) {
  .contacto {
    padding: 10px; /* Reduce el padding en pantallas más pequeñas */
  }
}
/* Navbar */
@media (min-width: 992px) {
  .navbar-collapse {
    flex-grow: initial !important;
  }
  .rounded-lg-3 { border-radius: .3rem; }
}
.color-link {
  color: white;
}
.fondonav {
  background-color: white !important;
}
/* Media Query para dispositivos pequeños (teléfonos) */
@media (max-width: 576px) {
  .logo {
    font-size: 50px;
    padding: 0 10px;
  }

  .titleAboutMe, .titleHobbies, .titleFormacion, .titleHabilidades, .titleProject, .titleContacto {
    font-size: 30px;
  }

  .imgPerfil {
    width: auto;
  }

  .card {
    width: 100%; /* La tarjeta ocupará todo el ancho disponible */
    min-height: 250px; 
  }
  .aboutMe{
    font-size: 15px;
    letter-spacing: 0.3px;
  }

  .hobbiesContainerTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titleHobbies{
    font-size: 30px;
  }
  .star{
    font-size: 30px;
    color: orange;
    padding: 10px;
  }
  .titleHobbie{
    font-size: 20px;
    letter-spacing: 0.1px;
    margin: 0;
    padding: 0;
    text-align: start;
  }
  .iconHobbies{
    padding: 0;
    margin: 2px 5px;
  }
}

/* Media Query para dispositivos medianos (tabletas) */
@media (min-width: 577px) and (max-width: 768px) {
  .logo {
    font-size: 60px;
    padding: 0 12px;
  }

  .titleAboutMe, .titleHobbies, .titleFormacion, .titleHabilidades, .titleProject, .titleContacto {
    font-size: 35px;
  }

  /* .imgPerfil {
  } */

  .card {
    width: 80%; /* La tarjeta ocupará el 80% del ancho disponible */
    min-height: 275px; 
  }
}

/* Media Query para dispositivos grandes (desktops) */
@media (min-width: 769px) and (max-width: 1200px) {
  .logo {
    font-size: 65px;
    padding: 0 13px;
  }

  .titleAboutMe, .titleHobbies, .titleFormacion, .titleHabilidades, .titleProject, .titleContacto {
    font-size: 38px;
  }

  .imgPerfil {
    width: 190px;
  }

  .card {
    width: 70%; /* La tarjeta ocupará el 70% del ancho disponible */
    min-height: 290px;
  }
}
